*
{
    margin: 0;
    padding:0

}
.wave
{
    position: fixed;
    height: 100%;
    left:0;
    bottom: 0;
    z-index:-1;
}
.header
{
    padding: 20px 20px;
    background: #38d39f;

}
.logo
{
    width: 40px;
    height: 40px;
    float: left;
   
    padding-left: 10px;
}
.header h1
{
    text-align: center;
    color: white;

}
p
{    
    margin-top: 40px;
     justify-content: center;
    text-align: center;
    font-size: 50px;
}